.odd {
    background-color: pink;
    font-family: Verdana, dejaVu Sans, sans-serif;
}
.cooler {
    font-size: 24px;
}


#firstid {
    color: blue;
    font-size: 36px;
}

#anotherid {
    background-color: lightgreen;
    font-weight: bold;
    font-size: 24px;
}